
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Server Hovercraft</title>
</head>

<body>
    <section class="section">
        <div class="columns">
            <div class="column has-text-centered">
                <figure class="image has-text-centered">

                    <img class="is-inline-block" src="./streaming_camara" width = "80%">
                </figure>
            </div>
        </div>
    </section>
</body>

</html>
