<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imagen en pantalla completa</title>
    <style>
        #fullscreen-image {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background-color: black;
        }

        #fullscreen-image img {
            display: block;
            max-width: 100%;
            max-height: 100%;
            margin: auto;
        }
    </style>
</head>
<body>
    <img src="./streaming_camara" onclick="toggleFullscreen()" alt="Imagen" />

    <script>
        function toggleFullscreen() {
            var image = document.querySelector('img');
            if (!document.fullscreenElement) {
                if (image.requestFullscreen) {
                    image.requestFullscreen();
                } else if (image.mozRequestFullScreen) { // Firefox
                    image.mozRequestFullScreen();
                } else if (image.webkitRequestFullscreen) { // Chrome, Safari and Opera
                    image.webkitRequestFullscreen();
                } else if (image.msRequestFullscreen) { // IE/Edge
                    image.msRequestFullscreen();
                }
            } else {
                if (document.exitFullscreen) {
                    document.exitFullscreen();
                } else if (document.mozCancelFullScreen) { // Firefox
                    document.mozCancelFullScreen();
                } else if (document.webkitExitFullscreen) { // Chrome, Safari and Opera
                    document.webkitExitFullscreen();
                } else if (document.msExitFullscreen) { // IE/Edge
                    document.msExitFullscreen();
                }
            }
        }
    </script>
</body>
</html>